<!DOCTYPE html>
<html>
<head>
    <title>Analyze Student Activities</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">
            <img src="{{ url_for('static', filename='Predict.png') }}" alt="Predict Image">
        </div>
        <div class="grid-item">
            <h1>Predict Scores</h1>
            <form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
                <input type="file" id="file" name="file"><br>
                <input type="submit" value="Predict">
            </form>
            <div id="result" class="result-box"></div> 
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='Features.png') }}" alt="Features Image">
        </div>
        <div class="grid-item">
            <h1>Classify Students</h1>
            <form id="classify-form" action="/classify" method="post" enctype="multipart/form-data">
                <input type="file" id="file2" name="file"><br>
                <input type="submit" value="Classify">
            </form>
            <div id="result2" class="result-box"></div>  
            <h2 id="error2"></h2> 
        </div>
    </div>

    <script>
    $('#upload-form').on('submit', function(e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/predict',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response);  
                $('#result').text('Prediction: ' + response);  
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error: ' + textStatus + ', ' + errorThrown);  
                $('#error').text('Error: ' + textStatus + ', ' + errorThrown);  
            }
        });
    });

    $('#classify-form').on('submit', function(e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/classify',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response);  
                $('#result2').text('Classification: ' + response);  
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error: ' + textStatus + ', ' + errorThrown); 
                $('#error2').text('Error: ' + textStatus + ', ' + errorThrown); 
            }
        });
    });
    </script>
</body>
</html>